[*.{cpp,h,hlsl,hlsli}]
charset = utf-8
#スペルミスをintellisense上でのエラーとして扱う
spelling_error_severity = error
#チェック対象を識別子とコメントに限定する
spelling_checkable_types = identifier, comments
#辞書を英語(米国)に固定する
spelling_languages = en-us
#自分の辞書を作れるように標準の除外辞書設定はそのまま使用
spelling_use_default_exclusion_dictionary = true
#自分の除外辞書を指定
spelling_exclusion_path = ./exclusion.dic